<!-- saas.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "SaaS" %}
{% set navbarFull = true %}

{% block content %}
<section class="pt-11 mb-6 pt-lg-12 mb-lg-5 mb-sm-7 text-center bg-layer-white-bottom-40-left-100" id="content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                        </div>
                        <div class="col-12" data-aos="fade-up">
                            
                        </div>
                    </div>
                </div>
            </section>

    <section class="bg-light pt-10 pb-7 pb-lg-9" id="content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 pr-5 mb-6 mb-lg-0" data-aos="fade-right">
                    <h1>I'm a <span class="font-weight-lighter red" data-typed data-options='{"strings": ["designer", "painter", "motivator"]}'></span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius finibus odio, ac maximus augue tempus vitae. Morbi tincidunt arcu nulla, ac eleifend mi sagittis non.</p>
                    <p>Nullam id molestie massa, in ultricies neque. Fusce quis nibh ut leo ullamcorper tempor. Sed finibus sapien nulla.</p>
                </div>
                <div class="col-lg-6" data-aos="fade-left">
                    <div class="row no-gutters mx-n2 mx-lg-0 bg-cover" style="background-image: url(assets/images/photos/photo-79.jpg)" data-jarallax data-speed=".8">
                        <div class="col-6 p-0 border border-light border-7">
                            <div class="square">
                                <div class="square-inner position-absolute w-100 h-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0 border border-light border-7">
                            <div class="square">
                                <div class="square-inner position-absolute w-100 h-100"></div>
                            </div>
                        </div>
                        <div class="col-6 p-0 border border-light border-7">
                            <div class="square">
                                <div class="square-inner position-absolute w-100 h-100">
                                    <div class="bg-secondary opacity-90 text-center text-white d-flex h-100 align-items-center justify-content-center">
                                        <span class="font-size-4 font-weight-bold">Live your passion</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0 border border-light border-7">
                            <div class="square">
                                <div class="square-inner position-absolute w-100 h-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}