<!-- saas.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "About" %}
{% set navbarFull = true %}

{% block content %}
    <section class="bg-light pt-10 pb-7 pb-lg-9" id="content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 pr-5 mb-6 mb-lg-0" data-aos="fade-right">
                    <h1>I'm a <span class="font-weight-lighter red" data-typed data-options='{"strings": ["designer", "painter", "motivator"]}'></span></h1>
                    <p>I bring creativity to everything I do. I thrive in fostering a people-empowered tech-led environment. I value opportunities to use my creative skills to do irreplaceable work on unique problems alongside great people. 
                    </p>
                    <p>Design aside, you can find me exploring foreign lands, climbing mountains (and then jumping off them), plein air painting, and working on educational projects that help break the cycle of poverty.</p>
                </div>
                <div class="col-lg-6" data-aos="fade-left">
                    <div class="row no-gutters mx-n2 mx-lg-0 bg-cover" style="background-image: url(assets/images/photos/profile_pict2@2x.jpg)" data-jarallax data-speed=".8">
                        <div class="col-6 p-0 border border-light border-7">
                            <div class="square">
                                <div class="square-inner position-absolute w-100 h-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0 border border-light border-7">
                            <div class="square">
                                <div class="square-inner position-absolute w-100 h-100"></div>
                            </div>
                        </div>
                        <div class="col-6 p-0 border border-light border-7">
                            <div class="square">
                                <div class="square-inner position-absolute w-100 h-100">
                                    <div class="bg-secondary opacity-90 text-center text-white d-flex h-100 align-items-center justify-content-center">
                                        <span class="font-size-4 font-weight-bold">Live your passion</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0 border border-light border-7">
                            <div class="square">
                                <div class="square-inner position-absolute w-100 h-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-2 pb-0 mt-2 mb-5 py-lg-5 mb-lg-6">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="mt-5 col-lg-6 col-xl-8">
                    <h2>Client list</h2>
                    <p>Here are a few of the companies I have had the pleasure of collaborating with to design user-friendly applications and marketing collateral.</p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client01.png" type="image/webp">
                        <source srcset="assets/images/photos/client01.png" type="image/png"> 
                        <img src="assets/images/photos/client01.png" alt="AeroMexico" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client02.png" type="image/webp">
                        <source srcset="assets/images/photos/client02.png" type="image/png"> 
                        <img src="assets/images/photos/client02.png" alt="CBS" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client03.png" type="image/webp">
                        <source srcset="assets/images/photos/client03.png" type="image/png"> 
                        <img src="assets/images/photos/client03.png" alt="Netchex" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client04.png" type="image/webp">
                        <source srcset="assets/images/photos/client04.png" type="image/png"> 
                        <img src="assets/images/photos/client04.png" alt="Goodyear" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client05.png" type="image/webp">
                        <source srcset="assets/images/photos/client05.png" type="image/png"> 
                        <img src="assets/images/photos/client05.png" alt="Lee Michaels Fine Jewelry" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client06.png" type="image/webp">
                        <source srcset="assets/images/photos/client06.png" type="image/png"> 
                        <img src="assets/images/photos/client06.png" alt="YoungWilliams" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client07.png" type="image/webp">
                        <source srcset="assets/images/photos/client07.png" type="image/png"> 
                        <img src="assets/images/photos/client07.png" alt="DXC" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client08.png" type="image/webp">
                        <source srcset="assets/images/photos/client08.png" type="image/png"> 
                        <img src="assets/images/photos/client08.png" alt="Accruent" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client09.png" type="image/webp">
                        <source srcset="assets/images/photos/client09.png" type="image/png"> 
                        <img src="assets/images/photos/client09.png" alt="IBM" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client10.png" type="image/webp">
                        <source srcset="assets/images/photos/client10.png" type="image/png"> 
                        <img src="assets/images/photos/client10.png" alt="Blue Cross Blue Shield" class="img-fluid w-100">
                    </picture>
                </div>

                 <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client11.png" type="image/webp">
                        <source srcset="assets/images/photos/client11.png" type="image/png"> 
                        <img src="assets/images/photos/client11.png" alt="Marin County California District Attorney Office" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client12.png" type="image/webp">
                        <source srcset="assets/images/photos/client12.png" type="image/png"> 
                        <img src="assets/images/photos/client12.png" alt="Liberty Mutual" class="img-fluid w-100">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    <section class="py-0 px-0 py-lg-3 mt-xs-0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-8">
                    <h2>Tools and Technology</h2>
                    <p>I enjoy the challenge of learning new technologies and I invest time for staying on top of trend. Here are a few of the tools I currently have in my tool chest.</p>
                </div>
            </div>
    </section>

    <section class="py-0 py-lg-5 ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-7 mb-7 mb-lg-0 w-75 float-right px-0" data-aos="fade-right">
                    <picture>
                        <source srcset="assets/images/photos/photo-39.jpg" type="image/webp">
                        <source srcset="assets/images/photos/photo-39.jpg" type="image/png"> 
                        <img src="assets/images/photos/photo-39.jpg" alt="Laptop image with coffee and headphones" class="img-fluid w-75 float-right shadow-sm">
                    </picture>
                </div>
                <div class="col">
                    <div class="d-flex" data-aos="fade-left">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3">Abstract</h4>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="100">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3">Adobe Creative Suite</h4>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="200">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3">Bootstrap</h4>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3">CSS</h4>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3">Figma</h4>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3">Git</h4>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3">HTML</h4>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3">InVision</h4>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3">JavaScript</h4>
                        </div>
                    </div>

                    <div class="d-flex" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3">Microsoft Office Suite</h4>
                        </div>
                    </div>

                                        <div class="d-flex" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3">React</h4>
                        </div>
                    </div>

                                        <div class="d-flex" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-start mt-1">
                            <svg class="fill-secondary" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"/></svg>
                        </div>
                        <div class="ml-2">
                            <h4 class="h5 mb-3 pb-6">Sketch</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="mb-6 mb-lg-7 bg-light" id="content">
        <div class="container pt-6 pt-lg-8 ">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-lg-10">
                    <div class="swiper-container">
                        <div class="swiper-wrapper pb-8">
                            <div class="swiper-slide">
                                <div class="row justify-content-center align-items-center text-center">
                                    <div class="col">
                                        <p class="font-italic">"Mandi is a wonderful leader within DXC’s Digital Transformation Center, building up the UX team and delivering wonderful work to our clients. She has hands on design expertise and a passion for working with clients to solve complex design problems. We have partnered on many UX efforts and I view Mandi as a trusted partner in creating elegant and intuitive design solutions with her team.”</p>
                                        <p class="font-size-6 text-muted mb-0">Tony Brown, PHD, Digital Transformation Principle (UX) at DXC Technology</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="row justify-content-center align-items-center text-center">
                                    <div class="col">
                                        <p class="font-italic">"If you want to have things done right, professional and with taste, Mandi is the resource to go. She is one of the best UX designers I've ever met. Mandi takes care of every single detail, has great communication skills and is always a step ahead in the project.”</p>
                                        <p class="font-size-6 text-muted mb-0">Roberto Contreras, America's Region: Latin America North Chief Technologist</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="row justify-content-center align-items-center text-center">
                                    <div class="col">
                                        <p class="font-italic">"Mandi is rocking at UX Capability Lead. She has worked to establish what UX is in the center and evangelize UX, building up the UX team and organize us all. Mandi does not wait to be told to take action she see a hole and fills it.She is easy to work with and has a great eye for design I know I can show Mandi what I am working on and get great creative feedback."</p>
                                        <p class="font-size-6 text-muted mb-0">Katie Riles, Senior UX Designer at DXC Technology</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination w-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}