<!-- case-studies.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}

{% block content %}
    <section class="bg-blue pt-8 mb-6 pt-lg-8 mb-lg-3 mb-sm-7 text-center bg-layer-white-bottom-40-left-100" id="content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-0">
                    </div>
                    <div class="col-4" data-aos="fade-up">
                        <div class="device-iphone">
                            <picture>
                                <source srcset="assets/images/photos/iPhone_8Home.png" type="image/webp">
                                <source srcset="assets/images/photos/iPhone_8Home.png" type="image/png"> 
                                <img src="assets/images/photos/iPhone_8Home.png" alt="frame-06" class="screen">
                            </picture>
                            <img src="assets/images/frames/phone-frame.svg" alt="laptop-frame" class="img-fluid"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <section class="py-3 py-lg-7 mb-3 mb-lg-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 lead">
                    <h1 class="display-3 text-nowrap">Innovation Tracker</h1>
                    <p>Manufactoring and Automotive Tool</p>
                </div>

                <div class="col-lg-8 mb-0 mb-lg-3">
                    <div class="py-4 border-top border-bottom my-3">
                        <div class="row align-items-center">
                            <div class="col-auto ">
                                <p class="mb-0 font-size-5" >Role<br><span class="small">UX Designer</span></p>
                            </div>
                            <div class="col-lg d-flex justify-content-lg-start mt-3 mt-lg-0">
                                <p class="mb-0 font-size-5">Timeframe<br><span class="small">4 Weeks</span></p>
                            </div>
                        </div>
                    </div>

                    <h2>Overview</h2>
                    <p>A multinational tire manufactoring company would like a way for their employees to submit company-specific innovation ideas. This tool would allow stakeholders to gather insights, and track the process. In my role as Senior UX, I led the discover, design, assisted development, and presented to stakeholders.</p>
                </div>

                <div class="col-lg-10 mb-3 mb-lg-3">
                                <figure class="figure mb-0 border">
                                    <picture>
                                        <source srcset="assets/images/photos/Innovation_plan.png" type="image/webp">
                                        <source srcset="assets/images/photos/Innovation_plan.png" type="image/png"> 
                                        <img src="assets/images/photos/Innovation_plan.png" alt="photo-62" class="figure-img img-fluid w-100">
                                    </picture>

                </div>

                <div class="col-lg-8 mb-0 mb-lg-2">
                    <blockquote class="blockquote bqspecial p-4 text-secondary text-left font-weight-normal my-6 font-size-4"><h3>Goal</h3>The goal is to provide a functioning MVP in four weeks to allow employees, executives, and DXC leadership to submit innovations, gather insights, and track the process.</blockquote>

                    <h2>Process</h2>
                    <h4>Creative during COVID</h4>
                    <p>Coronavirus stay at home order made it essential to be creative with how to collaborate using video to define user stories.</p>
                    </div>

                    <div class="col-lg-10 mb-0 mb-lg-3 text-center">
                        <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/Innovation_discovery.png" type="image/webp">
                                 <source srcset="assets/images/photos/Innovation_discovery.png" type="image/png"> 
                                <img src="assets/images/photos/Innovation_discovery.png" alt="photo-62" class="figure-img img-fluid w-50">
                            </picture>
                        </div>
                    
                    <div class="col-lg-8 mb-0 mb-lg-2">         
                    <h4>I Heart Figma</h4>
                    <p>After kickoff meeting and review of requirements with the client, I quickly jumped into wireframes to allow for future meetings to center around visual solutions. This focuses the team on functionality  and defining scope.</p>
                    
                    <p>We utilized Figma's ability to co-collaborate with the client and development team to iron out details of the low-fidelity wireframes during week one. </p>
                    </div>
                    
                    <div class="col-lg-10 mb-3 mb-lg-3">
                        <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/Innovation_lowfid.png" type="image/webp">
                                 <source srcset="assets/images/photos/Innovation_lowfid.png" type="image/png"> 
                                <img src="assets/images/photos/Innovation_lowfid.png" alt="photo-62" class="figure-img img-fluid w-100">
                            </picture>
                        </div>
                    
                    <div class="col-lg-8 mb-0 mb-lg-2"> 
                    <h4>Design by committee</h4>
                    <p>Next week, we solidified the high-fidelity designs with the team so they could begin to develop. They had been developing already based on the low-fidelity designs.</p>
                    <p>Beginning of week 3 we had a very successful demo to the client that involved 3 screens and basic functionality working on the local development environment.</p>
                    </div>

                    <div class="col-lg-8 mb-0 mb-lg-2"> 
                        <h4>Sprint to the finish</h4>
                        <p>End of week 3, we had more screens to demo. Throughout the build, I provided guidance to the development team via screenshots. There were less and less revisions each time.</p>
                        <p>Development was complete by end of day Monday at the beginning of week 4. We had time to perfect and even code a few stretch goals to wow the client.</p>
                        </div>
                    
                    <div class="col-lg-12 mb-0 mb-lg-3 row justify-content-center">
                        <figure class="figure mb-0 ">
                            <picture>
                                 <source srcset="assets/images/photos/styleguide.png" type="image/webp">
                                 <source srcset="assets/images/photos/styleguide.png" type="image/png"> 
                                <img src="assets/images/photos/styleguide.png" alt="photo-62" class="figure-img img-fluid w-100 ">
                            </picture>
                        </div>
                    
                    <div class="col-lg-10 mb-0 mb-lg-3">
                        <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/Innovation_dash.png" type="image/webp">
                                 <source srcset="assets/images/photos/Innovation_dash.png" type="image/png"> 
                                <img src="assets/images/photos/Innovation_dash.png" alt="photo-62" class="figure-img img-fluid w-100">
                            </picture>
                        </div>
                    <div class="col-lg-10 mb-3 mb-lg-3">
                         <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/Innovation_list.png" type="image/webp">
                                 <source srcset="assets/images/photos/Innovation_list.png" type="image/png"> 
                                <img src="assets/images/photos/Innovation_list.png" alt="photo-62" class="figure-img img-fluid w-100">
                                </picture>
                    </div> 
                    <div class="col-lg-10 mb-3 mb-lg-3 text-center">
                        <figure class="figure mb-0">
                             <picture>
                                <source srcset="assets/images/photos/mobile-1.png" type="image/webp">
                                <source srcset="assets/images/photos/mobile-1.png" type="image/png"> 
                                <img src="assets/images/photos/mobile-1.png" alt="photo-62" class="figure-img img-fluid w-50">
                                </picture>
                        </div>   
                       
                    
                    <div class="col-lg-8 mb-3 mb-lg-2"> 
                    <blockquote class="blockquote bqspecial p-4 text-secondary text-left font-weight-normal my-3 font-size-4"><h3>Result</h3>Demo to leadership and account team went smoothly. Use case created and all set to sell. Fingers crossed!
                        Update: The account team has re-skinned the application for two other clients. We will know soon if sold.</blockquote>
                     </div>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-6 py-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Related works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mx-n1">
                <div class="col-lg px-2 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb03@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb03@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb03@2x.jpg" alt="photo-68" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study03.html" class="text-body stretched-link">
                                    FlightPro </br> Flight Attendant Tablet Application
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg px-3 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb01@2x.jpg" alt="photo-68" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study01.html" class="text-body stretched-link">
                                    Analytics + </br> Leadership Reporting Application
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}