<!-- case-studies.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}

{% block content %}
    <section class="bg-gold pt-11 mb-6 pt-lg-12 mb-lg-5 mb-sm-7 text-center bg-layer-white-bottom-40-left-100" id="content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                        </div>
                        <div class="col-12" data-aos="fade-up">
                            <div class="device-laptop">
                                <picture>
                                    <source srcset="assets/images/photos/frame-analytics.jpg" type="image/webp">
                                    <source srcset="assets/images/photos/frame-analytics.jpg" type="image/png"> 
                                    <img src="assets/images/photos/frame-analytics.jpg" alt="frame-06" class="screen">
                                </picture>
                                <img src="assets/images/frames/laptop-frame.svg" alt="laptop-frame" class="img-fluid"/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    <section class="py-3 py-lg-7 mb-3 mb-lg-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 lead">
                    <h1 class="display-3 text-nowrap">Analytics +</h1>
                    <p>Leadership Reporting Application</p>
                </div>

                <div class="col-lg-8 mb-0 mb-lg-3">
                    <div class="py-4 border-top border-bottom my-3">
                        <div class="row align-items-center">
                            <div class="col-auto ">
                                <p class="mb-0 font-size-5" >Role<br><span class="small">UX/UI Technical Developer Lead</span></p>
                            </div>
                            <div class="col-lg d-flex justify-content-lg-start mt-3 mt-lg-0">
                                <p class="mb-0 font-size-5">Timeframe<br><span class="small">14 Weeks</span></p>
                            </div>
                        </div>
                    </div>

                    <h2>Overview</h2>
                    <p>A fortune 250 IT company requested DXC to develop an application designed by a third-party firm. In my role as the UX/UI Lead Technical Developer, I was tasked to outline specifics of the UI, formalize execution of the front-end, and facilitate communication with all stakeholders.</p>
                </div>

                <div class="col-lg-10 mb-3 mb-lg-3">
                                <figure class="figure mb-0 border">
                                    <picture>
                                        <source srcset="assets/images/photos/analytics_chart.png" type="image/webp">
                                        <source srcset="assets/images/photos/analytics_chart.png" type="image/png"> 
                                        <img src="assets/images/photos/analytics_chart.png" alt="photo-62" class="figure-img img-fluid w-100">
                                    </picture>

                </div>

                <div class="col-lg-8 mb-0 mb-lg-2">
                    <blockquote class="blockquote bqspecial p-4 text-secondary text-left font-weight-normal my-6 font-size-4"><h3>Goal</h3>The goal was to deliver an MVP for client beta testing in 14 weeks. A side goal was to show our client and the design firm that we are strong in development and can partner together seamlessly for future projects.</blockquote>

                    <h2>Process</h2>
                    <h4>Discovery and COVID</h4>
                    <p>In-person workshops were quickly adjusted to virtual due to COVID. The initial launch of the opportunity consisted of 2 weeks of virtual workshops with our client, the design firm, and DXC to determine build strategy. I represented the needs of the development team from a front-end perspective and initiated deep-dive sessions based on further requirements gathering needs. Virtual working due to COVID brought about challenges in initial discovery where tools like Mural, Teams, Abstract, WebEx, Box, Slack were essential.</p>
                    </div>

                    <div class="col-lg-10 mb-0 mb-lg-3">
                        <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/logo_ collage.png" type="image/webp">
                                 <source srcset="assets/images/photos/logo_ collage.png" type="image/png"> 
                                <img src="assets/images/photos/logo_collage.png" alt="photo-62" class="figure-img img-fluid w-100">
                            </picture>
                        </div>
                    
                    <div class="col-lg-8 mb-0 mb-lg-2">         
                    <h4>Design was completed and sold to shareholders before <br>developer involvement</h4>
                    <p>Being on the delivery side of design, I gained empathy for the developers by noticing how 'concepts' presented to users that aren't vetted from a development standpoint, could cause demos and releases to underwhelm.</p>
                    <p>Design files shown to the client displayed functionality unobtainable in 14 weeks where we had to be strategic in prioritizing features over styling. I addressed the extensive backlog of styling issues to allow additional resources whom could focus on the front-end styling.</p>
                    
                    <h4>Lobbyist for delivery</h4>
                    <p>I led the UI solution on feature execution between design, dev, and stakeholders, such as, feature parity, drag and drop, and annotations. I partnered closely with the design firm and our client to implement a tool called Abstract to better showcase the design files for development.</p>
                    </div>
                    
                    <div class="col-lg-10 mb-3 mb-lg-3">
                        <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/Abstract.png" type="image/webp">
                                 <source srcset="assets/images/photos/Abstract.png" type="image/png"> 
                                <img src="assets/images/photos/Abstract.png" alt="photo-62" class="figure-img img-fluid w-100">
                            </picture>
                        </div>
                    
                    <div class="col-lg-8 mb-0 mb-lg-2"> 
                    <h4>Developers outnumbered by designers</h4>
                    <p>I assisted the front-end dev team by writing code based on styling tweaks to better align with the design mock-ups. In order to do this, I quickly completed development coursework to get up to speed on Carbon Framework and REACT. By completing this coursework, I could better enhanced understanding of advantages and constraints due to requested customizations of the Carbon Framework components.</p>
                    </div>
                    
                    <div class="col-lg-12 mb-0 mb-lg-3 row justify-content-center text-center">
                        <figure class="figure mb-0 ">
                            <picture>
                                 <source srcset="assets/images/photos/carbon_badge.png" type="image/webp">
                                 <source srcset="assets/images/photos/carbon_badge.png" type="image/png"> 
                                <img src="assets/images/photos/carbon_badge.png" alt="photo-62" class="figure-img img-fluid w-50 ">
                            </picture>
                        </div>
                    
                    <div class="col-lg-10 mb-0 mb-lg-3">
                        <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/analytics01.png" type="image/webp">
                                 <source srcset="assets/images/photos/analytics01.png" type="image/png"> 
                                <img src="assets/images/photos/analytics01.png" alt="photo-62" class="figure-img img-fluid w-100">
                            </picture>
                        </div>
                    <div class="col-lg-10 mb-3 mb-lg-3">
                         <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/analytics02.png" type="image/webp">
                                 <source srcset="assets/images/photos/analytics02.png" type="image/png"> 
                                <img src="assets/images/photos/analytics02.png" alt="photo-62" class="figure-img img-fluid w-100">
                                </picture>
                        </div> 
                    <div class="col-lg-10 mb-3 mb-lg-3">
                        <figure class="figure mb-0">
                             <picture>
                                <source srcset="assets/images/photos/mobile_group.png" type="image/webp">
                                <source srcset="assets/images/photos/mobile_group.png" type="image/png"> 
                                <img src="assets/images/photos/mobile_group.png" alt="photo-62" class="figure-img img-fluid w-100">
                                </picture>
                        </div>   
                    
                    
                    <div class="col-lg-8 mb-3 mb-lg-2"> 
                    <blockquote class="blockquote bqspecial p-4 text-secondary text-left font-weight-normal my-3 font-size-4"><h3>Result</h3>The stakeholders were pleasantly surprised to see DXC rise to the challenge of enhancing an internal analytics application in 14 weeks. Our client released the MVP to beta users for usability testing and feedback. I learned essential tools to access due to COVID. I also enhanced my front-end capability with a solid understanding of React, Git, Docker and furthered my skills of HTML, CSS, and Javascript.</blockquote>
                     </div>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-6 py-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Related works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mx-n1">
                <div class="col-lg px-2 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb02@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb02@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb02@2x.jpg" alt="photo-67" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study02.html" class="text-body stretched-link">
                                    Innovation Tracker </br> Manufacturing and Automotive Tool
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg px-3 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb03@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb03@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb03@2x.jpg" alt="photo-68" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study03.html" class="text-body stretched-link">
                                    FlightPro </br> Flight Attendant Tablet Application
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}