<!-- case-studies.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}

{% block content %}
    <section class="bg-blue pt-7 mb-5 pt-lg-7 mb-lg-3 mb-sm-4 text-center bg-layer-white-bottom-40-left-100" id="content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-0 col-xs-0">
                    </div>
                    <div class="col-6 col-lg-3" data-aos="fade-up">
                        <div class="device-iphone">
                            <picture>
                                <source srcset="assets/images/photos/iPhone_8Home.png" type="image/webp">
                                <source srcset="assets/images/photos/iPhone_8Home.png" type="image/png"> 
                                <img src="assets/images/photos/iPhone_8Home.png" alt="Mobile Design of Innovation Tracker" class="screen">
                            </picture>
                            <img src="assets/images/frames/phone-frame.svg" alt="Mobile Design of Innovation Tracker" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <section class="py-0 py-lg-0 mb-3 mb-lg-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 lead">
                    <h1 class="display-3 text-nowrap">Innovation Tracker</h1>
                    <p>Manufacturing & Automotive Tool</p>
                </div>

                <div class="col-lg-8 mb-0 mb-lg-3">
                    <div class="py-4 border-top border-bottom mt-2 mb-5">
                        <div class="row align-items-left">
                            <div class="col-auto">
                                <p class="mb-0 font-size-5" >Role<br><span class="small">UX Design lead</span></p>
                            </div>
                            <div class="col-lg d-flex mt-3 mt-lg-0">
                                <p class="mb-0 font-size-5">Timeframe<br><span class="small">4 Weeks</span></p>
                            </div>
                            <div class="col-lg d-flex mt-3 mt-lg-0">
                                <p class="mb-0 font-size-5">Team<br><span class="small">UX,SA,SM,BA,3SE</span></p>
                            </div>
                            <div class="col-lg d-flex mt-3 mt-lg-0">
                                <p class="mb-0 font-size-5">Company<br><span class="small">DXC</span></p>
                            </div>   
                        </div>
                    </div>

                    <h2>Overview</h2>
                    <p>A multinational tire manufacturing company would like a way for their employees to submit company-specific innovation ideas. This tool would allow stakeholders to gather insights, and track the process. In my role as UX Design Lead, I led discovery, design, and assisted development. I also presented to stakeholders.<a href="ux_process.html" class=""> Learn more about my UX process</a></p>
                </div>

                <div class="col-lg-10 mb-3 mb-lg-3">
                                <figure class="figure mb-0 border" data-aos="fade-up" data-aos-delay="500">
                                    <picture>
                                        <source srcset="assets/images/photos/Innovation_plan.png" type="image/webp">
                                        <source srcset="assets/images/photos/Innovation_plan.png" type="image/png"> 
                                        <img src="assets/images/photos/Innovation_plan.png" alt="Desing Thinking discover session deliverable" class="figure-img img-fluid w-100">
                                    </picture>

                </div>

                <div class="col-lg-8 mb-0 mb-lg-2" >
                    <blockquote class="bqspecial bqstext p-4 text-left font-weight-normal my-6 font-size-5" data-aos="zoom-in" data-aos-delay="1000"><h2>Goal</h2>The goal is to provide a functioning MVP in four weeks to allow employees, executives, and DXC leadership to submit innovations, gather insights, and track the process. This tool would increase our partner revenue by providing DXC with incentivized employee led actionable concepts to test.</blockquote>

                    <h2>Process</h2>
                    <h4>Creative during COVID</h4>
                    <p>Coronavirus stay at home order made it essential to be creative with how to collaborate using video to define user stories.</p>
                    </div>

                    <div class="col-lg-10 mb-0 mb-lg-3 text-center">
                        <figure class="figure mb-4" data-aos="fade-in">
                            <picture>
                                 <source srcset="assets/images/photos/Innovation_discovery.png" type="image/webp">
                                 <source srcset="assets/images/photos/Innovation_discovery.png" type="image/png"> 
                                <img src="assets/images/photos/Innovation_discovery.png" alt="Photo with Business Analyst being creative during COVID on how to collaborate" class="figure-img img-fluid w-50">
                            </picture>
                        </div>
                    
                    <div class="col-lg-8 mb-0 mb-lg-2">         
                    <h4>I Heart Figma</h4>
                    <p>After kickoff meeting and review of requirements with the client, I quickly jumped into wireframes to allow for future meetings to center around visual solutions. This focuses the team on functionality and defining scope.</p>
                    
                    <p>We utilized Figma's ability to co-collaborate with the client and development team to iron out details of the low-fidelity wireframes during week one. </p>
                    </div>
                    
                    <div class="col-lg-10 mb-3 mb-lg-3">
                        <figure class="figure mb-0" data-aos="fade-in">
                            <picture>
                                 <source srcset="assets/images/photos/Innovation_lowfid.png" type="image/webp">
                                 <source srcset="assets/images/photos/Innovation_lowfid.png" type="image/png"> 
                                <img src="assets/images/photos/Innovation_lowfid.png" alt="Many low fidelity mockups to show exploration" class="figure-img img-fluid w-100">
                            </picture>
                        </div>
                    
                    <div class="col-lg-8 mb-0 mb-lg-2"> 
                    <h4>Design by committee</h4>
                    <p>Next week, we solidified the high-fidelity designs with the team so they could begin to develop. They had been developing already based on the low-fidelity designs.</p>
                    <p>Beginning of week 3 we had a very successful demo to the client that involved 3 screens and basic functionality working on the local development environment.</p>
                    </div>

                    <div class="col-lg-8 mb-0 mb-lg-2"> 
                        <h4>Sprint to the finish</h4>
                        <p>End of week 3, we had more screens to demo. Throughout the build, I provided guidance to the development team via screenshots. There were less and less revisions each time.</p>
                        <p>Development was complete by end of day Monday at the beginning of week 4. We had time to perfect and even code a few stretch goals to wow the client.</p>
                        </div>

                    <div class="col-lg-10 mb-3 mb-lg-3">
                        <figure class="figure mb-0 row justify-content-center text-center" data-aos="fade-up" data-aos-delay="500">
                            <picture>
                                 <source srcset="assets/images/photos/Inn_Tracker_video_sm.gif" type="image/webp">
                                 <source srcset="assets/images/photos/Inn_Tracker_video_sm.gif" type="image/png"> 
                                <img src="assets/images/photos/Inn_Tracker_video_sm.gif" alt="Animated gif showing the prototype screen flow" class="figure-img img-fluid w-100 ">
                            </picture>
                        </div>
                    
                    <div class="col-lg-10 mb-0 mb-lg-3">
                        <figure class="figure mb-0" data-aos="fade-in">
                            <picture>
                                 <source srcset="assets/images/photos/Innovation_dash.png" type="image/webp">
                                 <source srcset="assets/images/photos/Innovation_dash.png" type="image/png"> 
                                <img src="assets/images/photos/Innovation_dash.png" alt="Dashboard example 01 desktop" class="figure-img img-fluid w-100">
                            </picture>
                        </div>
                    <div class="col-lg-10 mb-3 mb-lg-3">
                         <figure class="figure mb-0" data-aos="fade-in">
                            <picture>
                                 <source srcset="assets/images/photos/Innovation_list.png" type="image/webp">
                                 <source srcset="assets/images/photos/Innovation_list.png" type="image/png"> 
                                <img src="assets/images/photos/Innovation_list.png" alt="List page example desktop" class="figure-img img-fluid w-100">
                                </picture>
                    </div>   
                    
                    <div class="col-lg-12 mb-0 mb-lg-3 row justify-content-center">
                        <figure class="figure mb-0" data-aos="fade-in">
                            <picture>
                                 <source srcset="assets/images/photos/styleguide.png" type="image/webp">
                                 <source srcset="assets/images/photos/styleguide.png" type="image/png"> 
                                <img src="assets/images/photos/styleguide.png" alt="Style guide examples" class="figure-img img-fluid w-100 ">
                            </picture>
                        </div>
                    
                    <div class="col-lg-8 mb-3 mb-lg-2"> 
                    <blockquote class="bqspecial bqstext p-4 text-left font-weight-normal my-3 font-size-5" data-aos="zoom-in" data-aos-delay="500"><h2>Result</h2>Demo to leadership and account team went smoothly. By deploying this tool, we increased customer’s visibility into DXC’s innovations from the results of the tracking process. We enable customers to measure DXC’s innovation capability with these metrices, one vehicle being the NPS. We increased DXC’s NPS especially in the area of innovation which enables customers to recommend DXC based on the ability to generate new ideas and develop creative ways to resolving business problems.</blockquote>
                     </div>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-6 py-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Related works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mx-n1">
                <div class="col-lg px-2 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/App_Central@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/App_Central@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/App_Central@2x.jpg" alt="Approval Central" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study04.html" class="text-body stretched-link">
                                    Approval Central </br> Leadership Task Management Tool
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg px-3 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb01@2x.jpg" alt="Analytics Plus" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study01.html" class="text-body stretched-link">
                                    Analytics + </br> Leadership Reporting Application
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}