<!-- case-studies.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}

{% block content %}
    <section class="bg-purp pt-9 mb-3 pt-lg-6 mb-lg-5 mb-sm-7 text-center bg-layer-white-bottom-40-left-100" id="content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8">
                        <div class="col-12" data-aos="fade-up">
                            <div class="col-xl-12 mt-3">
                                    <picture>
                                        <source srcset="assets/images/photos/AppCentral_headliner@2x.png" type="image/webp">
                                        <source srcset="assets/images/photos/AppCentral_headliner@2x.png" type="image/png"> 
                                        <img src="assets/images/photos/AppCentral_headliner@2x.png" class= "img-fluid" >
                                    </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 lead">
                    <h1 class="display-3 text-nowrap">Approval Central</h1>
                    <p>Tasks management made easy</p>
                </div>

                <div class="col-lg-8 mb-0 mb-lg-3 ">
                    <div class="py-4 border-top border-bottom mt-2 mb-5">
                        <div class="row align-items-left">
                            <div class="col-auto">
                                <p class="mb-0 font-size-5" >Role<br><span class="small">UX Design lead</span></p>
                            </div>
                            <div class="col-lg d-flex mt-3 mt-lg-0">
                                <p class="mb-0 font-size-5">Timeframe<br><span class="small">4 Weeks</span></p>
                            </div>
                            <div class="col-lg d-flex mt-3 mt-lg-0">
                                <p class="mb-0 font-size-5">Team<br><span class="small">UX,SA,SM,BA,5SE</span></p>
                            </div>
                            <div class="col-lg d-flex mt-3 mt-lg-0">
                                <p class="mb-0 font-size-5">Company<br><span class="small">DXC</span></p>
                            </div>
                            
                        </div>
                    </div>

                    <h2 class="mt-2">Overview</h2>
                    <p>DXC leadership would like a system that consolidates many types of digital management tasks into a central view for managers to take action. My role as the Lead UX Designer is to lead discovery, design, and assist the development team with code styling.</p>

                        <figure class="col-lg-12 mb-0 mb-lg-3 row justify-content-center text-center">
                            <picture>
                                 <source srcset="assets/images/photos/floating_lady.png" type="image/webp">
                                 <source srcset="assets/images/photos/floating_lady.png" type="image/png"> 
                                <img src="assets/images/photos/floating_lady.png" alt="Mandi in her element" class="figure-img img-fluid w-50">
                            </picture>
                </div>

                    


                <div class="col-lg-8 mb-0 mb-lg-2">
                    <blockquote class="bqspecial bqstext p-4 text-left font-weight-normal mt-4 mb-6  font-size-4"><h2>Goal</h2>Develop a responsive working application that performs key functionality in 4 weeks.</blockquote>

                    <h2>Process</h2>
                    <h4>Understanding the problem</h4>                    
                    <p>	Mergers & acquisitions have made for a disparity of systems. The current state for DXC leadership requires navigating among 30+ different application across 7 different business functions to perform and to keep track of requests.</p><p>Each system has unique login’s, security requirements, notification settings, and processes. This has caused endless delays and confusion across all business functions.</p>
                    <p>Shown here is a user flow illustrating the current state scenario of Manager's employee requested a headset.</p>
                    </div>

                    <div class="col-lg-10 mb-0 mb-lg-3">
                        <figure class="figure mb-0 border">
                            <picture>
                                 <source srcset="assets/images/photos/the_problem.png" type="image/webp">
                                 <source srcset="assets/images/photos/the_problem.png" type="image/png"> 
                                <img src="assets/images/photos/the_problem.png" alt="Wireframes to kick off early discovery sessions" class="figure-img2 img-fluid w-100">
                            </picture>
                        </div>
                    
                    <div class="col-lg-8 mb-0 mb-lg-2 mt-2">         
                    <h4>Took initiative to talk to users</h4>
                    <p>In the initial kickoff meeting with the steakholders, I requested access to a few users to interview. I collaborated with the business analyst on the team to develop and facilitate a test plan. Together we formalize interview questions, scheduled and ran interviews, systhesized the data, and presented the findings to the team.</p>
                    </div>
                    
                    <div class="col-lg-10 mb-0 mb-lg-3">
                        <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/user_testing.png" type="image/webp">
                                 <source srcset="assets/images/photos/user_testing.png" type="image/png"> 
                                <img src="assets/images/photos/user_testing.png" alt="Wireframes to kick off early discovery sessions" class="figure-img img-fluid w-100">
                            </picture>
                            </div>

                    <div class="col-lg-8 mb-0 mb-lg-2 mt-2">  
                    <h4>Lead team collaboration</h4>
                    <p>Armed with user feedback, I began to solution and invited the team to collaborate using Miro. This tool allowed for a focused discussion on a suggested user flow and to record decision making. I led this discovery session and iterated in real time to formalize the path forward and set the team on a guided path to success.</p>
                    </div>

                    <div class="col-lg-10 mb-3 mb-lg-3">
                        <figure class="figure mb-0 border">
                            <picture>
                                 <source srcset="assets/images/photos/miro_discovery.png" type="image/webp">
                                 <source srcset="assets/images/photos/miro_discovery.png" type="image/png"> 
                                <img src="assets/images/photos/miro_discovery.png" alt="Many low-fidelity mockups to show exploration" class="figure-img2 img-fluid w-100">
                            </picture>
                        </div>
                    
                    <div class="col-lg-8 mb-0 mb-lg-2 mt-2"> 
                    <h4>Prototype</h4>
                    <p>Here is the final design approved by the stakeholders and provided to development using Figma. The user journey shown is Manager Katie wants to take action on procurement requests.</p>
                    </div>
                    
                    <div class="col-lg-10 mb-3 mb-lg-3">
                        <figure class="figure mb-0 borderblk row justify-content-center text-center">
                            <picture>
                                 <source srcset="assets/images/photos/AppCentral_video.gif" type="image/webp">
                                 <source srcset="assets/images/photos/AppCentral_video.gif" type="image/png"> 
                                <img src="assets/images/photos/AppCentral_video.gif" alt="Animated gif showing the prototype screen flow" class="figure-img2 img-fluid w-100 ">
                            </picture>
                        </div>
                    
                    <div class="col-lg-10 mb-0 mb-lg-3 mt-lg-5">
                        <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/mobile_showcase.png" type="image/webp">
                                 <source srcset="assets/images/photos/mobile_showcase.png" type="image/png"> 
                                <img src="assets/images/photos/mobile_showcase.png" alt="Vertical table design examples" class="figure-img img-fluid w-100">
                            </picture>
                        </div>

                        <div class="col-lg-8 mb-0 mb-lg-2 mt-2"> 
                            <h4>Supporting Artifacts</h4>
                            <p>Here are some of the low fidelity exploration and styleguide materials created to help communicate effectively with stakeholders and development.</p>
                            </div>


                    <div class="col-lg-10 mb-3 mb-lg-3">
                         <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/low_fidelity_appcentral.png" type="image/webp">
                                 <source srcset="assets/images/photos/low_fidelity_appcentral.png" type="image/png"> 
                                <img src="assets/images/photos/low_fidelity_appcentral.png" alt="Horizontal tablet design example 01" class="figure-img img-fluid w-100">
                                </picture>
                        </div> 
                    <div class="col-lg-10 mb-3 mb-lg-3">
                        <figure class="figure mb-0">
                             <picture>
                                <source srcset="assets/images/photos/styleguide_appcentral.png" type="image/webp">
                                <source srcset="assets/images/photos/styleguide_appcentral.png" type="image/png"> 
                                <img src="assets/images/photos/styleguide_appcentral.png" alt="Horizontal tablet design example 02" class="figure-img img-fluid w-100">
                                </picture>
                        </div>   
                    
                    <div class="col-lg-8 mb-3 mb-lg-2"> 
                    <blockquote class="bqspecial bqstext p-4 text-left font-weight-normal my-3 font-size-4"><h2>Result</h2>Approved! The POC was approved and the application is currently being developed. We also received another project that will house this application in the future. </blockquote>
                     </div>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-6 py-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Related works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mx-n1">
                <div class="col-lg px-2 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb01@2x.jpg" alt="Analytics Plus" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study01.html" class="text-body stretched-link">
                                    Analytics + </br> Leadership Reporting Application
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg px-3 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb02@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb02@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb02@2x.jpg" alt="Innovation Tracker" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study02.html" class="text-body stretched-link">
                                    Innovation Tracker </br> Manufacturing and Automotive Tool
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}