<!-- case-studies.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}

{% block content %}
    <section class="bg-salmon pt-9 mb-3 pt-lg-6 mb-lg-5 mb-sm-7 text-center bg-layer-white-bottom-40-left-100" id="content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8">
                        <div class="col-12" data-aos="fade-up">
                            <div class="col-xl-12 mt-3">
                                    <picture>
                                        <source srcset="assets/images/photos/FlightPro_hero.png" type="image/webp">
                                        <source srcset="assets/images/photos/FlightPro_hero.png" type="image/png"> 
                                        <img src="assets/images/photos/FlightPro_hero.png" class= "img-fluid" >
                                    </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 lead">
                    <h1 class="display-3 text-nowrap">FlightPro</h1>
                    <p>Flight Attendant Tablet Application</p>
                </div>

                <div class="col-lg-8 mb-0 mb-lg-3 ">
                    <div class="py-4 border-top border-bottom mt-2 mb-5">
                        <div class="row align-items-left">
                            <div class="col-auto">
                                <p class="mb-0 font-size-5" >Role<br><span class="small">UX Design lead</span></p>
                            </div>
                            <div class="col-lg d-flex mt-3 mt-lg-0">
                                <p class="mb-0 font-size-5">Timeframe<br><span class="small">8 Weeks</span></p>
                            </div>
                            <div class="col-lg d-flex mt-3 mt-lg-0">
                                <p class="mb-0 font-size-5">Team<br><span class="small">UX,SA,SM,3SE</span></p>
                            </div>
                            <div class="col-lg d-flex mt-3 mt-lg-0">
                                <p class="mb-0 font-size-5">Company<br><span class="small">DXC</span></p>
                            </div>   
                        </div>
                    </div>

                    <h2>Overview</h2>
                    <p>An international aviation company would like a quick way for their flight attendants to track and record tasks.  This app would enhance their existing tablet app for their flight crew. In my role as UX Design Lead, I led the discover, design, assisted development, and presented to stakeholders.</p>
                </div>

                <div class="col-lg-10 mb-3 mb-lg-3">
                                <figure class="figure mb-0 row justify-content-center text-center">
                                    <picture>
                                        <source srcset="assets/images/photos/Flightdiscovery.png" type="image/webp">
                                        <source srcset="assets/images/photos/Flightdiscovery.png" type="image/png"> 
                                        <img src="assets/images/photos/Flightdiscovery.png" alt="Discovery session artifacts" class="figure-img img-fluid w-50">
                                    </picture>

                </div>

                <div class="col-lg-8 mb-0 mb-lg-2">
                    <blockquote class="bqspecial bqstext p-4 text-left font-weight-normal my-6 font-size-4"><h2>Goal</h2>The goal was to create a proof of concept of an application in 8 weeks that would allow for flight attendants to quickly perform a checklist with the hopes that it would grow over time.</blockquote>

                    <h2>Process</h2>
                    <h4>Translation and communication</h4>
                    <p>Due to language barriers, I enlisted the help of a colleague to translate the design thinking session materials from Spanish to English and recorded this meeting. Based on my previous history of working on an internal project, you never know who will be added/removed from your team at any moment. I created materials that could be easily shared with new teammates.</p>
                    
                    <p>I asked each team member what they wanted to get out of the project. This became a great ice-breaker to understand motivations and to be a support to help our teammates achieve their goals.</p>
                    </div>

                    <div class="col-lg-10 mb-0 mb-lg-3">
                        <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/flightWireframes.png" type="image/webp">
                                 <source srcset="assets/images/photos/flightWireframes.png" type="image/png"> 
                                <img src="assets/images/photos/flightWireframes.png" alt="Wireframes to kick off early discovery sessions" class="figure-img img-fluid w-100">
                            </picture>
                        </div>
                    
                    <div class="col-lg-8 mb-0 mb-lg-2">         
                    <h4>Discovery</h4>
                    <p>I was given an InVision mockup. I wanted to incorporate, but not be restricted by the design, so I used InVision freehand to create rough wireframes that could be shared by the product/sales team to aid in our UX design discussions.</p>
                    <p>The scope changed after client meeting to integrate into an existing application. I requested screenshots of the current application so I could match the styles. </p>
                    
                    <h4>Design with Figma</h4>
                    <p>Based on these decisions, I moved to low-fidelity wireframes using Figma. This is a collaboration layout program that allows for comments, as well as code view for developers of the CSS. You can also downloaded assets directly.</p>
                    </div>
                    
                    <div class="col-lg-10 mb-3 mb-lg-3">
                        <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/FlightLowFid.png" type="image/webp">
                                 <source srcset="assets/images/photos/FlightLowFid.png" type="image/png"> 
                                <img src="assets/images/photos/FlightLowFid.png" alt="Many low-fidelity mockups to show exploration" class="figure-img img-fluid w-100">
                            </picture>
                        </div>
                    
                    <div class="col-lg-8 mb-0 mb-lg-2"> 
                    <h4>POC became clickable prototype</h4>
                    <p>After this first week of focused UX design, the scope changed to feature this POC to the client and get feedback before writing code.</p>
                    <p>Mirroring the design on an actual IPad showed  space issues between buttons and icons as well as navigation challenges that needed to be corrected.</p>
                    </div>
                    
                    <div class="col-lg-12 mb-0 mb-lg-3 row justify-content-center text-center">
                        <figure class="figure mb-0 ">
                            <picture>
                                 <source srcset="assets/images/photos/FlightPOC.png" type="image/webp">
                                 <source srcset="assets/images/photos/FlightPOC.png" type="image/png"> 
                                <img src="assets/images/photos/FlightPOC.png" alt="Image of Figma high fidelity mockup mirrored on tablet" class="figure-img img-fluid w-50 ">
                            </picture>
                        </div>

                    <div class="col-lg-10 mb-3 mb-lg-3">
                        <figure class="figure mb-0 row justify-content-center text-center">
                            <picture>
                                 <source srcset="assets/images/photos/flight_pro_video_sm.gif" type="image/webp">
                                 <source srcset="assets/images/photos/flight_pro_video_sm.gif" type="image/png"> 
                                <img src="assets/images/photos/flight_pro_video_sm.gif" alt="Animated gif showing the prototype screen flow" class="figure-img img-fluid w-100 ">
                            </picture>
                        </div>
                    
                    <div class="col-lg-10 mb-0 mb-lg-3">
                        <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/FlightVert.png" type="image/webp">
                                 <source srcset="assets/images/photos/FlightVert.png" type="image/png"> 
                                <img src="assets/images/photos/FlightVert.png" alt="Vertical table design examples" class="figure-img img-fluid w-100">
                            </picture>
                        </div>
                    <div class="col-lg-10 mb-3 mb-lg-3">
                         <figure class="figure mb-0">
                            <picture>
                                 <source srcset="assets/images/photos/Flight01.png" type="image/webp">
                                 <source srcset="assets/images/photos/Flight01.png" type="image/png"> 
                                <img src="assets/images/photos/Flight01.png" alt="Horizontal tablet design example 01" class="figure-img img-fluid w-100">
                                </picture>
                        </div> 
                    <div class="col-lg-10 mb-3 mb-lg-3">
                        <figure class="figure mb-0">
                             <picture>
                                <source srcset="assets/images/photos/Flight02.png" type="image/webp">
                                <source srcset="assets/images/photos/Flight02.png" type="image/png"> 
                                <img src="assets/images/photos/Flight02.png" alt="Horizontal tablet design example 02" class="figure-img img-fluid w-100">
                                </picture>
                        </div>   
                    
                        <div class="col-lg-8 mb-0 mb-lg-2"> 
                            <p>I offered the client a closer experience by displaying the non-coded prototype on an actual tablet. By using the Figma mirroring app, anyone I share the prototype with could mirror the experience directly on the tablet.</p>
                            </div>
                    
                    <div class="col-lg-8 mb-3 mb-lg-2"> 
                    <blockquote class="bqspecial bqstext p-4 text-left font-weight-normal my-3 font-size-4"><h2>Result</h2>We presented the app and they were delighted by the interface. We developed the application after receiving positive feedback and made sure it was resposive so the agents could move to mobile phones in the future. From this experience, I took away a solid understanding of an end-to-end product developed at DXC. </blockquote>
                     </div>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-6 py-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Related works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mx-n1">
                <div class="col-lg px-2 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb01@2x.jpg" alt="Analytics Plus" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study01.html" class="text-body stretched-link">
                                    Analytics + </br> Leadership Reporting Application
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg px-3 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb02@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb02@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb02@2x.jpg" alt="Innovation Tracker" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study02.html" class="text-body stretched-link">
                                    Innovation Tracker </br> Manufacturing and Automotive Tool
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}