<!-- case-studies.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}

{% block content %}
    <section class="bg-grey pt-9 mb-3 pt-lg-6 mb-lg-5 mb-sm-7 text-center bg-layer-white-bottom-20-left-100" id="content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8">
                        <div class="col-12" data-aos="fade-up">
                            <div class="col-xl-12 mt-3">
                                    <picture>
                                        <source srcset="assets/images/photos/Spotlight_hero01.png" type="image/webp">
                                        <source srcset="assets/images/photos/Spotlight_hero01.png" type="image/png"> 
                                        <img src="assets/images/photos/Spotlight_hero01.png" class= "img-fluid w-100" >
                                    </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    <section class="py-6 py-lg-4 mb-6 mb-lg-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center lead text-muted">
                    <p class="mb-0">"The future belongs to those who believe in the beauty of their dreams." - Eleanor Roosevelt</p>
                </div>

                <div class="col-lg-8">
                    <div class="py-4 border-top border-top mt-5">
                    </div>
                    
                    <h2>Project Showcase</h2>
                    <p>The creative network built from the opportunites featured below, have all contributed to the designer I am today in their own unique ways. I have been exposed to processes, tools and techniques to further develop my craft, as well as to strengthen core traits of curiosity, empathy, and collaboration that are essential for UX success. </p>

                    <h3>Accruent</h3>
                    <p>Vivamus facilisis elit vitae velit faucibus, ac laoreet ex aliquet. Donec quis justo mi. Nunc mattis, lorem sed laoreet sollicitudin, velit nisi aliquet ligula, sodales viverra enim dolor in ante. Sed rhoncus tincidunt rhoncus. Quisque condimentum fringilla lorem nec commodo. Fusce tellus nunc, dapibus eget consectetur a, porta quis sem. Etiam facilisis urna eu porttitor venenatis.</p>
                </div>

                <div class="col-lg-10 mb-6 mb-lg-7">
                    <div class="swiper-container" data-options='{"loop": true}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/Acc_sc02.png" type="image/webp">
                                        <source srcset="assets/images/photos/Acc_sc02.png" type="image/png"> 
                                        <img src="assets/images/photos/Acc_sc02.png" alt="Acc_sc01.png" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/Acc_sc01.png" type="image/webp">
                                        <source srcset="assets/images/photos/Acc_sc01.png" type="image/png"> 
                                        <img src="assets/images/photos/Acc_sc01.png" alt="Acc_sc01.png" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/Acc_sc03.png" type="image/webp">
                                        <source srcset="assets/images/photos/Acc_sc03.png" type="image/png"> 
                                        <img src="assets/images/photos/Acc_sc03.png" alt="photo-64" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/Acc_sc04.png" type="image/webp">
                                        <source srcset="assets/images/photos/Acc_sc04.png" type="image/png"> 
                                        <img src="assets/images/photos/Acc_sc04.png" alt="photo-65" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute left-0 top-50 container d-flex justify-content-between">
                        <div class="swiper-btn swiper-btn-prev ml-n5 ml-lg-n6 ml-xl-n7" tabindex="0" role="button" aria-label="Previous slide"></div>
                        <div class="swiper-btn swiper-btn-next mr-n5 mr-lg-n6 mr-xl-n7" tabindex="0" role="button" aria-label="Next slide"></div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <h3>Netchex</h3>
                    <p>Vivamus facilisis elit vitae velit faucibus, ac laoreet ex aliquet. Donec quis justo mi. Nunc mattis, lorem sed laoreet sollicitudin, velit nisi aliquet ligula, sodales viverra enim dolor in ante. Sed rhoncus tincidunt rhoncus. Quisque condimentum fringilla lorem nec commodo.</p>
                </div>

<div class="col-lg-10 mb-6 mb-lg-7">
                    <div class="swiper-container" data-options='{"loop": true}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/NET_SC01.png" type="image/webp">
                                        <source srcset="assets/images/photos/NET_SC01.png" type="image/png"> 
                                        <img src="assets/images/photos/NET_SC01.png" alt="Acc_sc01.png" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/NET_SC02.png" type="image/webp">
                                        <source srcset="assets/images/photos/NET_SC02.png" type="image/png"> 
                                        <img src="assets/images/photos/NET_SC02.png" alt="Acc_sc01.png" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/NET_SC03.png" type="image/webp">
                                        <source srcset="assets/images/photos/NET_SC03.png" type="image/png"> 
                                        <img src="assets/images/photos/NET_SC03.png" alt="photo-64" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/NET_SC04.png" type="image/webp">
                                        <source srcset="assets/images/photos/NET_SC04.png" type="image/png"> 
                                        <img src="assets/images/photos/NET_SC04.png" alt="photo-65" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute left-0 top-50 container d-flex justify-content-between">
                        <div class="swiper-btn swiper-btn-prev ml-n5 ml-lg-n6 ml-xl-n7" tabindex="0" role="button" aria-label="Previous slide"></div>
                        <div class="swiper-btn swiper-btn-next mr-n5 mr-lg-n6 mr-xl-n7" tabindex="0" role="button" aria-label="Next slide"></div>
                    </div>
                </div>
                
<div class="col-lg-8">
                    <h3>Blue Cross Blue Shield</h3>
                    <p>Vivamus facilisis elit vitae velit faucibus, ac laoreet ex aliquet. Donec quis justo mi. Nunc mattis, lorem sed laoreet sollicitudin, velit nisi aliquet ligula, sodales viverra enim dolor in ante. Sed rhoncus tincidunt rhoncus. Quisque condimentum fringilla lorem nec commodo.</p>
                </div>

<div class="col-lg-10 mb-6 mb-lg-7">
                    <div class="swiper-container" data-options='{"loop": true}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/BCBS_SC01.png" type="image/webp">
                                        <source srcset="assets/images/photos/BCBS_SC01.png" type="image/png"> 
                                        <img src="assets/images/photos/BCBS_SC01.png" alt="Acc_sc01.png" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/BCBS_SC02.png" type="image/webp">
                                        <source srcset="assets/images/photos/BCBS_SC02.png" type="image/png"> 
                                        <img src="assets/images/photos/BCBS_SC02.png" alt="Acc_sc01.png" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/BCBS_SC03.png" type="image/webp">
                                        <source srcset="assets/images/photos/BCBS_SC03.png" type="image/png"> 
                                        <img src="assets/images/photos/BCBS_SC03.png" alt="photo-64" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/BCBS_SC04.png" type="image/webp">
                                        <source srcset="assets/images/photos/BCBS_SC04.png" type="image/png"> 
                                        <img src="assets/images/photos/BCBS_SC04.png" alt="photo-65" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute left-0 top-50 container d-flex justify-content-between">
                        <div class="swiper-btn swiper-btn-prev ml-n5 ml-lg-n6 ml-xl-n7" tabindex="0" role="button" aria-label="Previous slide"></div>
                        <div class="swiper-btn swiper-btn-next mr-n5 mr-lg-n6 mr-xl-n7" tabindex="0" role="button" aria-label="Next slide"></div>
                    </div>
                </div>

<div class="col-lg-8">
                    <h3>YoungWilliams</h3>
                    <p>Vivamus facilisis elit vitae velit faucibus, ac laoreet ex aliquet. Donec quis justo mi. Nunc mattis, lorem sed laoreet sollicitudin, velit nisi aliquet ligula, sodales viverra enim dolor in ante. Sed rhoncus tincidunt rhoncus. Quisque condimentum fringilla lorem nec commodo.</p>
                </div>

<div class="col-lg-10 mb-6 mb-lg-7">
                    <div class="swiper-container" data-options='{"loop": true}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/YW_SC01.png" type="image/webp">
                                        <source srcset="assets/images/photos/YW_SC01.png" type="image/png"> 
                                        <img src="assets/images/photos/YW_SC01.png" alt="Acc_sc01.png" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/YW_SC02.png" type="image/webp">
                                        <source srcset="assets/images/photos/YW_SC02.png" type="image/png"> 
                                        <img src="assets/images/photos/YW_SC02.png" alt="Acc_sc01.png" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute left-0 top-50 container d-flex justify-content-between">
                        <div class="swiper-btn swiper-btn-prev ml-n5 ml-lg-n6 ml-xl-n7" tabindex="0" role="button" aria-label="Previous slide"></div>
                        <div class="swiper-btn swiper-btn-next mr-n5 mr-lg-n6 mr-xl-n7" tabindex="0" role="button" aria-label="Next slide"></div>
                    </div>
                </div>

<div class="col-lg-8">
                    <h3>Print Advertising & Marketing</h3>
                    <p>Vivamus facilisis elit vitae velit faucibus, ac laoreet ex aliquet. Donec quis justo mi. Nunc mattis, lorem sed laoreet sollicitudin, velit nisi aliquet ligula, sodales viverra enim dolor in ante. Sed rhoncus tincidunt rhoncus. Quisque condimentum fringilla lorem nec commodo.</p>
                </div>

<div class="col-lg-10 mb-6 mb-lg-7">
                    <div class="swiper-container" data-options='{"loop": true}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/Print_SC01.png" type="image/webp">
                                        <source srcset="assets/images/photos/Print_SC01.png" type="image/png"> 
                                        <img src="assets/images/photos/Print_SC01.png" alt="Acc_sc01.png" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="figure mb-0">
                                    <picture>
                                        <source srcset="assets/images/photos/Print_SC02.png" type="image/webp">
                                        <source srcset="assets/images/photos/Print_SC02.png" type="image/png"> 
                                        <img src="assets/images/photos/Print_SC02.png" alt="Acc_sc01.png" class="figure-img img-fluid w-100">
                                    </picture>
                                    <figcaption class="figure-caption text-right">Customer Advisor Board session <br class="d-none d-md-block">Denver, Colorado</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute left-0 top-50 container d-flex justify-content-between">
                        <div class="swiper-btn swiper-btn-prev ml-n5 ml-lg-n6 ml-xl-n7" tabindex="0" role="button" aria-label="Previous slide"></div>
                        <div class="swiper-btn swiper-btn-next mr-n5 mr-lg-n6 mr-xl-n7" tabindex="0" role="button" aria-label="Next slide"></div>
                    </div>
                </div>





                </div>
            </div>
        </div>

    <section class="bg-light py-6 py-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Related works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mx-n1">
                <div class="col-lg px-2 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb01@2x.jpg" alt="Analytics Plus" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study01.html" class="text-body stretched-link">
                                    Analytics + </br> Leadership Reporting Application
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg px-3 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb02@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb02@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb02@2x.jpg" alt="Innovation Tracker" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study02.html" class="text-body stretched-link">
                                    Innovation Tracker </br> Manufacturing and Automotive Tool
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}