<!-- case-studies.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Case study" %}
{% set navbarFull = true %}

{% block content %}
    <section class="bg-grey pt-9 mb-3 pt-lg-6 mb-lg-5 mb-sm-7 text-center bg-layer-white-bottom-40-left-100" id="content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8">
                        <div class="col-12" data-aos="fade-up">
                            <div class="col-xl-12 mt-3">
                                    <picture>
                                        <source srcset="assets/images/photos/sticky 1.png" type="image/webp">
                                        <source srcset="assets/images/photos/sticky 1.png" type="image/png"> 
                                        <img src="assets/images/photos/sticky 1.png" class= "img-fluid w-50" >
                                    </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 mb-0 mb-lg-3">
                    <h2 class="mt-2">Accruent</h2>
                        <p>International Enterprise UX Management • Tools • Techniques</p>
                            <figure class="figure mb-0">
                                <picture>
                                    <source srcset="assets/images/photos/accruent_highlights.png" type="image/webp">
                                    <source srcset="assets/images/photos/accruent_highlights.png" type="image/png"> 
                                    <img src="assets/images/photos/accruent_highlights.png" alt="Accruent highlighted works" class="figure-img2 img-fluid">
                                </picture>
                            </div>

                <div class="col-lg-10 mb-0 pt-5 mb-lg-3">
                    <h2 class="mt-2">Netchex</h2>
                        <p>Mobile Frist • Design Sprints • User Testing • Visual Design</p>
                            <figure class="figure mb-0">
                                <picture>
                                    <source srcset="assets/images/photos/netchex_highlights.png" type="image/webp">
                                    <source srcset="assets/images/photos/netchex_highlights.png" type="image/png"> 
                                    <img src="assets/images/photos/netchex_highlights.png" alt="Netchex highlighted works" class="figure-img2 img-fluid">
                                </picture>
                            </div>


                <div class="col-lg-10 mb-0 pt-5 mb-lg-3">
                    <h2 class="mt-2">Blue Cross</h2>
                        <p>Intro to UI/UX • Visual Design • Responsive Design</p>
                            <figure class="figure mb-0">
                                <picture>
                                    <source srcset="assets/images/photos/bluecross_highlights.png" type="image/webp">
                                    <source srcset="assets/images/photos/bluecross_highlights.png" type="image/png"> 
                                    <img src="assets/images/photos/bluecross_highlights.png" alt="Blue Cross highlighted works" class="figure-img2 img-fluid">
                                </picture>
                            </div>


                <div class="col-lg-10 mb-0 pt-5 mb-lg-3">
                    <h2 class="mt-2">YoungWilliams</h2>
                        <p>Web Design • Graphic Design • Brand Management</p>
                            <figure class="figure mb-0">
                                <picture>
                                    <source srcset="assets/images/photos/yw_hightlights.png" type="image/webp">
                                    <source srcset="assets/images/photos/yw_hightlights.png" type="image/png"> 
                                    <img src="assets/images/photos/yw_hightlights.png" alt="YoungWilliams highlighted works" class="figure-img2 img-fluid">
                                </picture>
                            </div>


                <div class="col-lg-10 mb-0 pt-5 mb-lg-3">
                    <h2 class="mt-2">Marin County California DA</h2>
                        <p>Bilingual Advertising • Graphic Design</p>
                            <figure class="figure mb-0">
                                <picture>
                                    <source srcset="assets/images/photos/marin_highlights.png" type="image/webp">
                                    <source srcset="assets/images/photos/marin_highlights.png" type="image/png"> 
                                    <img src="assets/images/photos/marin_highlights.png" alt="Marin County DA highlight works" class="figure-img2 img-fluid">
                                </picture>
                            </div>


                <div class="col-lg-10 mb-0 pt-5 mb-lg-3">
                    <h2 class="mt-2">Robert Roth</h2>
                        <p>Creative Director • Marketing • Social Media</p>
                            <figure class="figure mb-6">
                                <picture>
                                    <source srcset="assets/images/photos/rr_highlights.png" type="image/webp">
                                    <source srcset="assets/images/photos/rr_highlights.png" type="image/png"> 
                                    <img src="assets/images/photos/rr_highlights.png" alt="Robert Roth highlight works" class="figure-img2 img-fluid">
                                </picture>
                            </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-6 py-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Related works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mx-n1">
                <div class="col-lg px-2 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb01@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb01@2x.jpg" alt="Analytics Plus" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study01.html" class="text-body stretched-link">
                                    Analytics + </br> Leadership Reporting Application
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg px-3 mb-5 mb-lg-0">
                    <div class="card shadow lift">
                        <picture>
                            <source srcset="assets/images/photos/ProjectThumb02@2x.jpg" type="image/webp">
                            <source srcset="assets/images/photos/ProjectThumb02@2x.jpg" type="image/png"> 
                            <img src="assets/images/photos/ProjectThumb02@2x.jpg" alt="Innovation Tracker" class="card-img-top">
                        </picture>
                        <div class="card-body">
                            <p class="font-size-6 text-uppercase mb-0"><small class="font-weight-bold">Case Study</small></p>
                            <h3 class="h4 card-title mb-0">
                                <a href="case-study02.html" class="text-body stretched-link">
                                    Innovation Tracker </br> Manufacturing and Automotive Tool
                                    <svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"></path><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"></path></svg>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}