<!-- index.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Home" %}
{% set navbarFull = true %}

{% block content %}
    <section class="pt-12 pb-0 pt-lg-10 pb-lg-5">
        <div class="floating-objects">
            <span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span>
            <span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span>
            <span></span><span></span><span></span><span></span><span></span>
        </div>

        <div class="container" >
            <div class="row align-items-center justify-content-center text-left px-xs-0">
                <div class="col-md-12 col-lg-10 mt-lg-6" data-aos="fade-down" >
                    <h1 class="display-3">Hi.<span class="font-weight-lighter"> I'm</span> <span class="font-weight-normal red">Mandi.</span></h1>
                    <h2 class="display-4"><span class="font-weight-lighter">I create great products.</span></h2>
                    <p class="mb-4 pt-2 col-lg-11 pl-0 pr-0 pr-lg-1">I am a Senior UX Designer at DXC Technology, and an avid digital designer with a passion for helping businesses succeed. I have a background in brand management and a Bachelor of Art's from Savannah College of Art and Design. Recently, I was named UX/UI Capability Lead where I work with DXC to define the UX process and align UX/UI talent to better serve our clients.</p>
                    <p class="mb-4 pt-1 col-lg-11 pl-0 pr-0 pr-lg-1">I am a self-taught front-end developer, a creative problem solver, and advocate for the user. I seamlessly integrate the client’s brand across all touchpoints throughout the customer journey.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-lg-4 pt-4 " id="pages">
        <div class="container">
            <div class="row col-md-12 text-center mx-0">
                <div class="col-md-12 col-lg-12">
                    <h2 class="h2 p-0">Recent Work</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-6 mb-lg-7" data-aos="fade-up">
                    <a href="case-study01.html">
                        <picture>
                            <source srcset="assets/images/photos/Analytics_tile.png" type="image/png"> 
                            <source srcset="assets/images/photos/Analytics_tile.png" type="image/webp">
                            <img src="assets/images/photo/Analytics_tile.png" alt="Analytics_tile" class="img-fluid shadow lift">
                        </picture>
                    </a>
                </div>

                                <div class="col-md-12 mb-6 mb-lg-7" data-aos="fade-up">
                    <a href="case-study02.html">
                        <picture>
                            <source srcset="assets/images/photos/Innovation_tile.png" type="image/webp">
                            <source srcset="assets/images/photos/Innovation_tile.png" type="image/png"> 
                            <img src="assets/images/photos/Innovation_tile.png" alt="printscreen-01" class="img-fluid shadow lift">
                        </picture>
                    </a>
                </div>

                                <div class="col-md-12 mb-6 mb-lg-7" data-aos="fade-up">
                    <a href="case-study03.html">
                        <picture>
                            <source srcset="assets/images/photos/FlightPro_tile.png" type="image/webp">
                            <source srcset="assets/images/photos/FlightPro_tile.png" type="image/png"> 
                            <img src="assets/images/photos/FlightPro_tile.png" alt="printscreen-01" class="img-fluid shadow lift">
                        </picture>
                    </a>
                </div>
</section>
                
{% endblock content %}