<!-- index.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Overview" %}
{% set navbarFull = true %}

{% block content %}
    <section class="pt-11 pb-10 pt-lg-14 pb-lg-13">
        <div class="floating-objects">
            <span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span>
            <span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span>
            <span></span><span></span><span></span><span></span><span></span>
        </div>

        <div class="container" >
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-md-10 col-lg-7" data-aos="fade-down" >
                    <h1 class="display-4">Hi.<span class="font-weight-lighter"> I'm Mandi Butynski.</span></h1>
                    <h2 class="display-4"><span class="font-weight-lighter">I help companies develop great products.</span></h2>
                    <p class="mb-6">As a Senior UX Designer, my current role at DXC is UX/UI Capability Lead where I help to define our UX process and align talent to better serve our clients. I completed my design training at Savannah College of Art and Design. I am a self taught front-end developer, a creative problem solver, and UX process practitioner. I advocate for the user and seamlessly integrate the client’s brand across the customer journey.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6 py-lg-7" id="pages">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-8">
                    <h2 class="h1">Recent Work</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-6 mb-lg-7" data-aos="fade-up">
                    <a href="case-study01.html">
                        <picture>
                            <source srcset="assets/images/photos/Analytics_tile.png" type="image/png"> 
                            <source srcset="assets/images/photos/Analytics_tile.png" type="image/webp">
                            <img src="assets/images/photo/Analytics_tile.png" alt="Analytics_tile" class="img-fluid shadow lift">
                        </picture>
                    </a>
                </div>

                                <div class="col-md-12 mb-6 mb-lg-7" data-aos="fade-up">
                    <a href="case-study02.html">
                        <picture>
                            <source srcset="assets/images/photos/Innovation_tile.png" type="image/webp">
                            <source srcset="assets/images/photos/Innovation_tile.png" type="image/png"> 
                            <img src="assets/images/photos/Innovation_tile.png" alt="printscreen-01" class="img-fluid shadow lift">
                        </picture>
                    </a>
                </div>

                                <div class="col-md-12 mb-6 mb-lg-7" data-aos="fade-up">
                    <a href="case-study03.html">
                        <picture>
                            <source srcset="assets/images/photos/FlightPro_tile.png" type="image/webp">
                            <source srcset="assets/images/photos/FlightPro_tile.png" type="image/png"> 
                            <img src="assets/images/photos/FlightPro_tile.png" alt="printscreen-01" class="img-fluid shadow lift">
                        </picture>
                    </a>
                </div>
</section>
                
{% endblock content %}