<!-- index.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Home" %}
{% set navbarFull = true %}

{% block content %}
    <section class="pt-12 pb-0 pt-lg-10 pb-lg-5">
        <div class="floating-objects">
            <span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span>
            <span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span><span class="d-none d-md-block"></span>
            <span></span><span></span><span></span><span></span><span></span>
        </div>

        <div class="container" >
            <div class="row align-items-center justify-content-center text-left px-xs-0">
                <div class="col-md-12 col-lg-10 mt-lg-6" data-aos="fade-down" >
                    <h1 class="display-3">Hi.<span class="font-weight-lighter"> I'm</span> <span class="font-weight-normal red">Mandi.</span></h1>
                    <h2 class="display-4"><span class="font-weight-lighter">I bring user experience to the forefront of how we create digital applications.</span></h2>
                    <p class="mb-4 pt-2 col-lg-11 pl-0 pr-0 pr-lg-1">Creative collaborator poised to lead right out of the gate, pivot if necessary, ideate products from scratch, improve features, and provide endless visual concepts for testing within an agile development framework. <span class="red">Intrinsic passion to design compelling and delightful interactive experiences.</span> Possesses a clear vision of the future of user experience design and courage to pursue forward-thinking initiatives. </p>
                    <p class="mb-4 pt-1 col-lg-11 pl-0 pr-0 pr-lg-1"><strong>20+</strong> years of professional design experience. <strong>8+</strong> years focused on product design and development. BFA from <strong>Savannah College of Art and Design.</strong>
                    </p>
                </div>
            </div>
        </div>
    </section>

    

    <section class="pt-lg-4 pt-4 pb-lg-0" id="pages">
        <div class="container">
            <div class="row col-md-12 text-center mx-0">
                <div class="col-md-12 col-lg-12">
                    <h2 class="h2 p-0">Recent Work</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-6 mb-lg-7" data-aos="fade-up">
                    <a href="case-study01.html">
                        <picture>
                            <source srcset="assets/images/photos/Analytics_tile.png" type="image/png"> 
                            <source srcset="assets/images/photos/Analytics_tile.png" type="image/webp">
                            <img src="assets/images/photo/Analytics_tile.png" alt="Analytics Plus tile" class="img-fluid shadow lift">
                        </picture>
                    </a>
                </div>

                                <div class="col-md-12 mb-6 mb-lg-7" data-aos="fade-up">
                    <a href="case-study02.html">
                        <picture>
                            <source srcset="assets/images/photos/Innovation_tile.png" type="image/webp">
                            <source srcset="assets/images/photos/Innovation_tile.png" type="image/png"> 
                            <img src="assets/images/photos/Innovation_tile.png" alt="Innovation Tracker tile" class="img-fluid shadow lift">
                        </picture>
                    </a>
                </div>

                                <div class="col-md-12 mb-6 mb-lg-7" data-aos="fade-up">
                    <a href="case-study03.html">
                        <picture>
                            <source srcset="assets/images/photos/FlightPro_tile.png" type="image/webp">
                            <source srcset="assets/images/photos/FlightPro_tile.png" type="image/png"> 
                            <img src="assets/images/photos/FlightPro_tile.png" alt="Flight Pro tile" class="img-fluid shadow lift">
                        </picture>
                    </a>
                </div>
</section>

<section class="mt-lg-0 pb-0 mt-0 mb-5 pt-lg-0 mb-lg-6">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="mt-5 col-lg-6 col-xl-8">
                    <h2>Client list</h2>
                    <p>Listed here are some of the great companies I have collaborate with to design user-friendly applications and marketing collateral.</p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client01.png" type="image/webp">
                        <source srcset="assets/images/photos/client01.png" type="image/png"> 
                        <img src="assets/images/photos/client01.png" alt="AeroMexico" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client02.png" type="image/webp">
                        <source srcset="assets/images/photos/client02.png" type="image/png"> 
                        <img src="assets/images/photos/client02.png" alt="CBS" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client03.png" type="image/webp">
                        <source srcset="assets/images/photos/client03.png" type="image/png"> 
                        <img src="assets/images/photos/client03.png" alt="Netchex" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client04.png" type="image/webp">
                        <source srcset="assets/images/photos/client04.png" type="image/png"> 
                        <img src="assets/images/photos/client04.png" alt="Goodyear" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client05.png" type="image/webp">
                        <source srcset="assets/images/photos/client05.png" type="image/png"> 
                        <img src="assets/images/photos/client05.png" alt="Lee Michaels Fine Jewelry" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client06.png" type="image/webp">
                        <source srcset="assets/images/photos/client06.png" type="image/png"> 
                        <img src="assets/images/photos/client06.png" alt="YoungWilliams" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client07.png" type="image/webp">
                        <source srcset="assets/images/photos/client07.png" type="image/png"> 
                        <img src="assets/images/photos/client07.png" alt="DXC" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client08.png" type="image/webp">
                        <source srcset="assets/images/photos/client08.png" type="image/png"> 
                        <img src="assets/images/photos/client08.png" alt="Accruent" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client09.png" type="image/webp">
                        <source srcset="assets/images/photos/client09.png" type="image/png"> 
                        <img src="assets/images/photos/client09.png" alt="IBM" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client10.png" type="image/webp">
                        <source srcset="assets/images/photos/client10.png" type="image/png"> 
                        <img src="assets/images/photos/client10.png" alt="Blue Cross Blue Shield" class="img-fluid w-100">
                    </picture>
                </div>

                 <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client11.png" type="image/webp">
                        <source srcset="assets/images/photos/client11.png" type="image/png"> 
                        <img src="assets/images/photos/client11.png" alt="Marin County California District Attorney Office" class="img-fluid w-100">
                    </picture>
                </div>

                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <picture>
                        <source srcset="assets/images/photos/client12.png" type="image/webp">
                        <source srcset="assets/images/photos/client12.png" type="image/png"> 
                        <img src="assets/images/photos/client12.png" alt="Liberty Mutual" class="img-fluid w-100">
                    </picture>
                </div>
            </div>
        </div>
    </section>


                
{% endblock content %}