<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Meta viewport tag-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- SEO Meta Tags-->
        <meta name="description" content="Mandi Butynski Professional UX Portfolio">
        <meta name="keywords" content="design, ux design, interaction design, visual design, about me, case studies, portfolio">
        <meta name="author" content="Mandi Butynski">

        <!-- Page title-->
        <title>{% if title %}{{ title }} | {% endif %}Square - Premium Bootstrap Theme</title>

        {% include "partials/_favicons.njk" %}

        <!-- Theme Stylesheets -->
        {% if environment == 'production' %}
            <link href="assets/css/theme.min.css" rel="stylesheet">
        {% else %}
            <link href="assets/css/theme.css" rel="stylesheet">
        {% endif %}

        {% if environment == 'production' %}
            {% include "partials/_gtag.njk" %}
        {% endif %}
    </head> 
    
    <body>
        {% include "layouts/_header.njk" %}

        <!-- Main content -->
        <main>
            {% block content %} {% endblock content %}
        </main>

        {% include "layouts/_footer.njk" %}
        {% include "partials/_photoswipe.njk" %}

        {% if environment == 'production' %}
            <!-- Core Javascripts -->
            <script src="assets/js/theme.core.min.js"></script>

            <!-- Theme Javascripts -->
            <script src="assets/js/theme.min.js"></script>
        {% else %}
            <!-- Core Javascripts -->
            <script src="assets/js/theme.core.js"></script>

            <!-- Theme Javascripts -->
            <script src="assets/js/theme.js"></script>
        {% endif %}
    </body>
</html>