/**
 * Define you custome style here.
 * It will be merged with the default style.
 */

 .red {
     color: #6748AD;
 }

 .logo {
     color: black;
 }

p {
    font-size: 1rem;
    line-height: 1.8;
 }

 .herotext {
     font-size: 1.7ch;
 }

 .millustration {
    border-radius: 50%;
    width: 5rem;
    margin-right: 1rem;
 }


 .footericon {
     color: #232323;
 }

 .bqspecial {
     background-color: #E9F0F9;
     line-height: 1.8;
     border-radius: 20px;
 }

 .bqstext {
     color:  #2154C1;
 }

 .bg-gold {
     background-color: #FAD6A0;
 }

 .bg-blue {
    background-color: #AED4D5;
}

.bg-salmon {
    background-color: #BBDEFB;
}

.bg-purp {
    background-color: #B795C8;
}

.bg-brown {
    background-color: #CDBCB5;
}

.bg-grey {
    background-color: #C4C4C4;
}

 .border {
    border: 5px solid #efefef;
 }

 .borderblk {
    border: 1px solid #333333;
 }

 .col-xs-12 {z-index:1;
}

.funky {
    display: inline-block;
    border-radius: 0px;
    opacity: 1;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
}

.figure-img2 {
    margin-bottom: 0rem;
    line-height: 1;
}

.img-fluid-mobile {
    max-width: 50%;
    height: auto;
}
