/**
 * Define you custome style here.
 * It will be merged with the default style.
 */

 .red {
     color: #0091EA;
 }

 .logo {
     color: black;
 }

p {

    line-height: 1.8;
 }

 .herotext {
     font-size: 1.7ch;
 }

 .footericon {
     color: #232323;
 }

 .bqspecial {
     background-color: #cce5f4;
     line-height: 1.8;
     border-radius: 20px;
 }

 .bqstext {
     color:  #232323;
 }

 .bg-gold {
     background-color: #F9CC88;
 }

 .bg-blue {
    background-color: #AED4D5;
}

.bg-salmon {
    background-color: #BBDEFB;
}

 .border {
    border: 5px solid #efefef;
 }

 .col-xs-12 {z-index:1;
}

.funky {
    display: inline-block;
    border-radius: 0px;
    opacity: 1;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
}
