/**
 * Define you custome style here.
 * It will be merged with the default style.
 */

 .red {
     color: #FD475D;
 }

 .logo {
     color: black;
 }

p {

    line-height: 1.8;
 }

 .herotext {
     font-size: 1.7ch;
 }

 .footericon {
     color: #232323;
 }

 .bqspecial {
     background-color: #FFCCBF;
 }

 .bg-gold {
     background-color: #F9CC88;
 }